<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>keytechKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>keytechKitFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>650857DE189CE73300399949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>650857F5189CE73300399949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65085810189CEA9B00399949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6508581E189CEA9B00399949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
